<div class="container">
    <app-navbar></app-navbar>
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <img src="../../../assets/img/promo.png">
            
        </div>

        <!-- COMPRAS -->
        <div class="container col-md-12">
            <div class="row align-items-center" style="padding-top: 10px;">
                <div class="card col-md-3" style="margin-left: 70px;">
                    <img src="../../../assets/img/33.PNG" class="img-thumbnail" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">camiseta</h5>
                        <p class="card-text fw-bolder" name="price">R$ 0 </p>
                        <button type="button" class="btn btn-outline-success col-md-12">
                            Add to Cart
                        </button>
                    </div>
                </div>
                <div class="card col-md-3" style="margin-left: 70px;">
                    <img src="../../../assets/img/33.PNG" class="img-thumbnail" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">camiseta</h5>
                        <p class="card-text fw-bolder" name="price">R$ 0 </p>
                        <button type="button" class="btn btn-outline-success col-md-12">
                            Add to Cart
                        </button>
                    </div>
                </div>
                <div class="card col-md-3" style="margin-left: 70px;">
                    <img src="../../../assets/img/33.PNG" class="img-thumbnail" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">camiseta</h5>
                        <p class="card-text fw-bolder" name="price">R$ 0 </p>
                        <button type="button" class="btn btn-outline-success col-md-12">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM COMPRAS -->
        <!-- PAGINADOR -->
        <app-pagination></app-pagination>
        <!-- FIM PAGINADOR -->
    </div>
</div>