<section class="vh-100" style="background-color: #508bfc;">
    <div class="container col-md-12 py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">

                    <h3 class="mb-5 text-center" style="margin-top: 10px;">Register</h3>

                    <form class="" style="padding: 20px;">
                        <!-- email -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <!-- password -->

                        <div class="form-group" style="margin-top: 10px;">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>

                      

                        <!-- endereco -->
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="inputAddress">Zip code</label>
                            <input type="text" class="form-control " id="inputAddress" placeholder="1234">
                        </div>
                        <!-- fim endereco -->

                          <!-- sexo -->
                          <div class="form-check form-check-inline" style="margin-top: 10px;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">Men</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">Women</label>
                        </div>
                        <!-- fim sexo -->


                        <div class="form-check" style="margin: 10px;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree with the terms of the
                                site</label>
                        </div>
                        <button type="submit" class="btn btn-outline-success col-sm-12">Register</button>
                        <hr class="col-md-12">
                        <button type="submit" class="btn btn-outline-danger col-sm-12" routerLink="/main">Home</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>