<app-navbar></app-navbar>
<div class="container">
    <div class="container" style="padding:10px">
        <div class="row">
            <div class="col text-center">
                <img src="../../../assets/img/33.PNG">
            </div>
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4 text-lg-end">Camiseta Bland </h1>
                        <p class="lead text-lg-end">Comfortable and elegant, 100% cotton</p>
                        <p class="fw-bold text-lg-end">Size: XG</p>

                        <div class="container text-lg-end" style="padding: 10px;">
                            <button type="button" class="btn btn-Light">-</button>
                            <span class="badge bg-secondary" id="soma">0</span>
                            <button type="button" class="btn btn-Light">+</button>
                        </div>
                        <hr class="col-md-12">
                        <h4 class="fw-bold text-lg-end">
                            Valor R$ : 100
                        </h4>
                        <div class="text-end">
                            <button type="button" class="btn btn-outline-success col-md-12" routerLink="/cart">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <p class="font-italic fw-bold">Description</p>
        <div class="row">
            <div class="col">
                Our t-shirts are produced in 100% cotton, bring lightness, perspiration and long-term durability.
            </div>
            <div class="col">
                Classic modeling matches all styles, in addition to providing great fit and comfort when wearing.
            </div>
            <div class="col">
                Ribana 100% Cotton, 1x1 with Shoulder Reinforcement 3x more quality.
        </div>
    </div>
</div>
<hr class="col-md-12">
