<div class="container col-md-10"> 
    <div class="row align-items-center">
        <div class="card col-md-3" *ngFor="let product of produtos" style="margin: 35px;">
            <img src="../../../assets/img/33.PNG" class="img-thumbnail" width="200px" height="200px" routerLink="/product">
            <div class="card-body">
                <a routerLink="/product"><h5 class="card-title">{{product.nome}}</h5></a>
                <p class="card-text fw-bolder" name="price">R$ {{product.price}} </p>
                <button type="button" class="btn btn-outline-success col-md-12">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>