<section class="vh-100" style="background-color: #508bfc;">
    <div class="col-sm-2" style="padding:30px;">
       <button class="btn btn-outline-dark text-center" routerLink="/main"><span class="material-icons">
        arrow_back_ios
    </span></button>
    </div>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12">
               
                    <span class="material-icons link-light">
                        mail_outline
                        </span><p class="fw-bold text-light">blandinfo@gmail.com</p><div class="text-warning">For more information !</div>
             
            </div>
        </div>
    </div>
</section>